* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

.first-div {
  display: flex;
  justify-content: center;
  background-color: brown;
  gap: 12px;
  padding: 120px;
}
